
/*
* fazaio.CSS V0.1 (covid)
* Copyright 2020, Faza Aulia
* fazaio.web.app
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 22-march-2020
*/




@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400&display=swap');


* {
  box-sizing: border-box;
}
body{
	font-family: 'Nunito', sans-serif;
	background-color: white !important;
}
span{
	color: gray;
}
li{
	margin-top: 10px;
}

.center{
	text-align: center;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}


/*------------------------- button ------------------*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	margin: 2px;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

input[type=text] {
  width: 100%;
  height: 38px;
  padding: 5px;
  margin: 1px;
  box-sizing: border-box;
  color: #555;
  border-radius: 4px;
  border: 1px solid #bbb;
}



/*-------------------------------- Rules of media --------------------*/
@media (min-width: 480px) {
  .container {
    width: 85%; }
}@media (min-width: 768px) {
  .container {
    width: 75%;}
}


/*------------------------------ Flex-box ---------------------*/

.flx{
	display: flex;
}
.col{
	flex: 50%;
	padding: 10px;
}



/*--------------- color -----------------------*/
/*keyword .tgreen -> [t]=text [greeb]=color*/

.tgreen{
	color: #00b894;
}
.tyellow{
	color: #F79F1F;
}
.tred{
	color: #dc3545;
}
.tblue{
	color: #0984e3;
}

.footer{
	margin-top: 100px;
	padding: 10px;
	text-align: center;
	font-size: 11px;	
}


/*--------------------- Card ---------------------*/

.single-card{
  padding: 1px 10px 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


/*------------------------- icon-loading ------------------*/
.loader {
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top: 3px solid #dc3545;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
  margin: 50px 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}